[class^="icon-"], [class*=" icon-"] {
	font-family: 'quotable-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-reddit:before {
	content: "\e601";
}

#quotable-toolbar {
	font-family: 'quotable-icons';
  position: absolute;
  display: none;
	padding: 5px 10px;
  line-height: 1.5em;
  text-align: center;
	text-decoration: none;
	background: #eeeeee;
  transition: all .3s ease;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.quotable-link {
		font-family: 'quotable-icons';
		text-decoration: none;
		font-style: normal;
}
